<launch>
    <arg name="cap_device" default="0" />
    <arg name="width" default="5120" />
    <arg name="height" default="800" />
    <arg name="fps" default="20" />
    <arg name="enable_color" default="true" />
    <arg name="publish_splited" default="true" />

    <node name="arducam_ros" pkg="arducam_ros" type="arducam_ros_node" output="screen" >
        <param name="cap_device" value="$(arg cap_device)" />
        <param name="width" value="$(arg width)" />
        <param name="height" value="$(arg height)" />
        <param name="fps" value="$(arg fps)" />
        <param name="enable_color" value="$(arg enable_color)" />
        <param name="publish_splited" value="$(arg publish_splited)" />
    </node>
</launch>
